<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><a href="/">AwesomeEvents</a></h1>
      <nav>
        <ul>
          <li><%= link_to 'Twiiter Login', '/auth/twitter' %></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
